force-app/main/default/flows/Create_Contacts_Using_Repeater.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_all_Contacts</name>
        <label>Add all Contacts</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Contact.First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Contact.Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Contact</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Contacts Using Repeater {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contacts Using Repeater</label>
    <loops>
        <name>For_Each_Contact</name>
        <label>For Each Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Repeat_Contact.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_all_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>AllContacts</inputReference>
    </recordCreates>
    <screens>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_Each_Contact</targetReference>
        </connector>
        <fields>
            <name>Repeat_Contact</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>First_Name</name>
                <dataType>String</dataType>
                <fieldText>First Name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Last_Name</name>
                <dataType>String</dataType>
                <fieldText>Last Name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
