force-app/main/default/flows/Create_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Contacts</name>
        <label>Add Contacts</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Contact.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contact.Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Con</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contacts</label>
    <loops>
        <name>Iterate_Contact</name>
        <label>Iterate Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>ContactRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contacts</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Iterate_Contact</targetReference>
        </connector>
        <inputReference>Con</inputReference>
    </recordCreates>
    <screens>
        <name>Contact_Screen</name>
        <label>Contact Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_Contact</targetReference>
        </connector>
        <fields>
            <name>ContactRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Name</name>
                <dataType>String</dataType>
                <fieldText>Name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Number</name>
                <dataType>Number</dataType>
                <fieldText>Number</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>PC</name>
                <dataType>Boolean</dataType>
                <fieldText>PC</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Date_and_Time</name>
                <dataType>DateTime</dataType>
                <fieldText>Date and Time</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Con</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
